.carousel{
  text-align: center;
  margin-bottom: 2rem;
}
.pcarouselContainer {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenedor del carrusel */
  align-items: center; /* Centra verticalmente el contenedor del carrusel */
  width: 100%; /* O puedes ajustar a un ancho específico si lo prefieres */
  height: auto; /* Deja que el alto se ajuste al contenido */
  text-align: center;
}
.PrensaCarrous {
  width: 100%; /* Ajusta el ancho al contenido (la imagen) */
  height: auto; /* Ajusta el alto al contenido (la imagen) */
  max-width: 100%; /* Evita que el carrusel se extienda más allá del contenedor */
  max-height: 100%; /* Evita que el carrusel se extienda más allá del contenedor */
  margin: 0 auto; /* Centra el carrusel en el contenedor */
}
.prensa-carousel-image {
  width: 100%; /* Mantiene el ancho de la imagen */
  height: auto; /* Mantiene el alto de la imagen */
  max-width: 100%; /* Ajusta la imagen para que se ajuste al ancho del carrusel */
  max-height: 100%; /* Ajusta la imagen para que se ajuste al alto del carrusel */
  object-fit: contain; /* Mantiene la proporción de la imagen sin estirarla */
}

.prensa-image-container {
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 768px) {
  .pcarouselContainer {
    /* Ajustes específicos para pantallas más pequeñas si es necesario */
  }

  .PrensaCarrous {
    width: auto; /* Ajusta el ancho automáticamente */
  }
}

@media (max-width: 480px) {
  .pcarouselContainer {
    /* Ajustes específicos para pantallas más pequeñas si es necesario */
  }

  .PrensaCarrous {
    width: auto; /* Ajusta el ancho automáticamente */
  }
}