.pItemDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 2rem;
}

.pdetailinfo {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  color: black;
}

.pdetailinfo h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.detailinfo p {
  font-size: 15px;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .pItemDetail {
    flex-direction: column;
    padding: 0px;
  }

  .pdetailinfo {
    padding: 10px;
  }
  .detailinfo h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .pdetailinfo p {
    font-size: 2rem;
    margin-bottom: 0px;
  }
}
@media (max-width: 520px) {
  .pItemDetail {
    flex-direction: column;
    padding: 0px;
  }

  .pdetailinfo {
    padding: 10px;
  }
  .pdetailinfo h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .pdetailinfo p {
    font-size: 10px;
    margin-bottom: 0px;
  }
}
@media (max-width: 700px) {
  .pItemDetail {
    flex-direction: column;
    padding: 0px;
  }

  .pdetailinfo {
    padding: 10px;
  }
  .pdetailinfo h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .pdetailinfo p {
    font-size: 10px;
    margin-bottom: 0px;
  }
}