.container.contact__container {
  flex: 1;
  flex-direction: column; /* Cambia a una disposición de columna */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto horizontalmente */
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  /* Añade un margen superior para separar el título de los contact options */
  margin-top: 2rem;
  margin: 2rem;
  padding: 2rem;
}
.container.contact__container h1 {
  font-size: 1.3rem; /* Ajusta el tamaño de fuente según tus preferencias */
  margin-top: 1rem; /* Espacio entre el título y los contact options */
  text-align: center;
  font-weight: bolder;
  margin-left: 1rem;
}
.home4{
  background-image: url("../../../src/assets/imags/estudio/home3.jpg");
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #d8d7d4;

}
.contact__wrapper {
  display: flex;
  align-items:flex-start; /* Alinear los elementos en la parte superior */
  margin-top: 2rem;
  margin: 1rem; /* Añade margen superior para separar de la parte superior */
  justify-content: center;
}
.contactimg-wrapper {
  margin-right: 1rem; /* Espacio entre la imagen y el formulario */
  flex: 0 0 auto; 
  margin-top: 2rem;
  /* Evita que la imagen crezca y ocupe más espacio del necesario */
  margin-left: 2rem;
}

.contactimg {
  max-width: 300px; /* La imagen se ajustará al ancho máximo del contenedor */
  height: 530px; /* La altura se ajustará automáticamente para mantener la proporción */
}

.container.contact__container {
  flex: 1;
  flex-direction: column; /* El contenedor de contacto ocupa el espacio restante */
}

.contact__options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 2rem;
  text-align: left;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.contact__option {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
  padding: 1rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: #96a077;
  
}

.contact__option hr{
  color: white;
}
.contact__option:hover {
  border-color: #96a077;
  color: #96a077;
}



.contact__option-icon {
  font-size: 1.7rem; /* Espacio entre el ícono y el texto */
  color: white;
  text-align: center;
}
.contact__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; 
  gap: 0.5rem;/* Centra verticalmente el contenido */
}

.contact__option a {
  display: inline-block;
  font-size: 1rem;
  color: white;
}
.contact__option h4 {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  margin: 0; /* Elimina el margen para que esté más cerca del ícono */
}

.contact__option h5 {
  font-size: 0.9rem;
  color: white;
  margin: 0; /* Elimina el margen para que esté pegado al h4 */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: whitesmoke;
  border: 2px solid #090909;
  resize: none;
  color: black
}

.btn {
  background-color: #96a077;
  border: white;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.Logocontact {
  width: 150px;
  margin: 1rem auto; /* Centra horizontalmente con 'auto' */
  color: #96a077;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .home4 {
    height: 40vh;
  }

  .contact__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contactimg-wrapper {
    display: none;
  }

  .container.contact__container {
    width: 90%;
    margin: 1rem auto;
  }

  .contactimg {
    max-width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 1300px) {
  .contact__options {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 3rem;
    padding: 2rem;
    text-align: left;
    margin-top: 2rem;
    justify-content: space-evenly;
  }
  .contactimg {
    max-width: 300px;
    height: 780px;
  }
}
/* Añade estilos para dispositivos aún más pequeños, como celulares */
@media screen and (max-width: 900px) {
  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact__option {
    width: 100%;
    text-align: center;
  }
  .contactimg-wrapper {
    display: none;
  }
}