.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: #96a077;
}

.contact__image {
  flex: 1;
  max-width: 100%;
  border-radius: 2rem;
  margin: 1rem;
}

.contact__image img {
  max-width: 100%;
  height: 100%;
  max-height: 1200px;
  border-radius: 2rem;
}

.container.contact__container {
  flex: 1;
  padding: 2rem;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
}

.contact__options h4, .contact__options h5 {
  font-size: 1rem;
}
.home4{
  background-image: url("../../../src/assets/imags/estudio/home3.png");
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #d8d7d4;

}
.contact__option {
  background: #96a077;
  padding: 1rem;
  border-radius: 1.2rem;
  text-align: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s;
}

.contact__option:hover {
  transform: scale(1.05);
}

.contact_option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: whitesmoke;
  border: 2px solid #96a077;
  resize: none;
  color: black;
}

.btn {
  background-color: #96a077;
  border: white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact__image {
    order: 2;
  }

  .container.contact__container {
    order: 1;
  }

  .contact__options {
    order: 3;
  }
}