.home2 {
  background-image: url("../../src/assets/imags/home3.png");
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  text-align: center;
}

.introtext__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1.2rem;
  padding: 100px;
}

.introtext__wrapper {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.introtext {
  font-size: 2.2rem;
  text-align: center;
  line-height: 5rem;
}

.data__container {
  display: flex;
  justify-content: space-around;
  background-color: #96a077;
  color: aliceblue;
}

.infocontainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  text-align: center;
  align-items: center;
}

.infocontainer>.ticestudio {
  font-size: 3.5em;

}

.infocontainer>.estudioinfo {
  font-size: 1em;
  margin-top: 2rem;
}
.estudio_image__container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
justify-content: space-around;
}
.estudioimag{
 width: 500px;
 height: auto;
}
.dedicamosContaner{
  padding: 2rem;
  text-align: center;
}
.dedicamosContaner> h2{
 font-size: 1.5rem;
}
.valoresContainer{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  font-size: 1.5rem;
  text-align: left;
}
.valoresContainer> h4{
  font-size: 2rem;
 }
 .rectestudio{
 background-color: #96a077;
  width: 30rem;
  height: 0.3rem;
 }