.home2 {
  background-image: url("../../src/assets/imags/home3.png");
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
  text-align: center;
}

.introtext__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1.2rem;
  padding: 100px;
}

.introtext__wrapper {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.introtext {
  font-size: 2.5rem;
  text-align: center;
  line-height: 5rem;
}

.data__container {
  display: flex;
  justify-content: space-around;
  background-color: #96a077;
  color: aliceblue;
}

.infocontainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  text-align: center;
  align-items: center;
}

.infocontainer>.ticestudio {
  font-size: 3.5em;

}

.infocontainer>.estudioinfo {
  font-size: 1em;
  margin-top: 2rem;
}
.estudio_image__container{
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
.estudioimag{
  width: 20rem;
  height: auto;
}