.Zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 1.2rem;
}

.imaghome {
  display: block;
  margin: auto;
  padding: 2rem 0;
  width: 60%;
}

.infoContainer {
  width: 85%;
  font-size: 0.50rem;
  padding: 0 4%;
  min-height: 16rem;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

.infoContainer:hover {
  transform: scale(1.03);
}

.infoContainerBackground-1 {
  background-image: url("../../src/assets/imags/Homesec1.jpg");
}

.infoContainerBackground-2 {
  background-image: url("../../src/assets/imags/Homesec2 (3).jpg");
}

.infoContainerBackground-3 {
  background-image: url("../../src/assets/imags/Homesec3 (2).jpg");
}

.infoContainer * {
  color: white;
}

.wrapper {
  display: flex;
  gap: 0.8rem;
}

.ticContainer {
  padding-top: 0.45em;
}

.textContainer > .title {
  margin: 0;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}

.textContainer > .subtitle {
  font-size: 1.45em;
}

.tic {
  font-size: 2em;
}

@media only screen and (min-width: 440px) {
  .infoContainer {
      font-size: 0.65rem;
  }
}

@media only screen and (min-width: 540px) {
  .infoContainer {
      font-size: 1rem;
      min-height: 30vw;
  }
}