
  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  .gogo{
    background-image: url("../../src/assets/imags/homesec1.png");
 padding: 100px;
 margin: 5px;
 background-size: 100%;
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 grid-template-rows: repeat(1, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 background-repeat: no-repeat
 ;
  }
  .gogo3{
    background-image: url("../../src/assets/imags/homesec2.png");
 padding: 100px;
 margin: 5px;
 background-size: 100%;
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 grid-template-rows: repeat(1, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 ;
 background-repeat: no-repeat
  }
  .gogo4{
    background-image: url("../../src/assets/imags/homesec3.png");
 padding: 100px;
 margin: 5px;
 background-size: 100%;
 background-repeat: no-repeat;
  }

.text{
  display: flex;
  flex: row;
  gap:2rem;
  border-radius: 5rem;
}
  .hrhome{
    background-color: #c6b9a7;
  }
.gogo2imag{
  width: 450px;
  height: 450px;
  background-color: #d8d7d4;
  padding: 1rem;
  margin-right: 2rem;
}
  .gogo2{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
 color: #d8d7d4;
 border: #96a077;
 background-color: #96a077;
 margin-top: 2rem;
 gap: 5rem;

  }
.titlehero{
  color: #d8d7d4;
    font-size: 3rem;
    text-align: left;
    margin-left: 2rem;
}
.texthero{
text-align: left;
margin: 20px;
font-size: 1rem;
}
.heroinfo{
padding: 100px;
margin-left: 2rem;
border: #d8d7d4;
border: 1px solid;
}

  .title{
    font-size: 5rem;
    opacity: 1;
    color: #d8d7d4;
  }
 
  .subtitle{
    font-size: 2rem;
    opacity: 1;
    margin-left: 15rem;
    margin-top: 1rem;
    color: #d8d7d4;
  }
  .subtitle2{
    font-size: 2rem;
    opacity: 1;
  text-align: center;
  }
  .Zone{
    padding: 2rem;
    margin: 20px;
    justify-content: center;
    align-items: center;

  }
 
  .tic{
    font-size: 5rem;
    margin-top: 0.7rem;
    margin-left: 6rem;
    color: #d8d7d4;
  }
 
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #121619;
    height: 90px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 40px;
    padding: 30px;
    text-align: center;
  }
  
  .headerContainer button:hover {
    background-color:transparent;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: black;
  }
  .Contruimos{
    font-size: 40rem;
    background-color: aquamarine;
  }
  .logo{
    width: 100%;
    background-color: darkkhaki;

    border-radius: 10rem;
  }
  
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
      height: 50vh;
    }
    
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
    }
    img{
        width: 50%;
       margin: auto;
       margin-left: 25%;
      }
  
  
    .headerContainer button {
      background-color: white;
      color: #121619;
      margin: 10px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
    .gogo2{
      padding: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%;
      height: 10vh;
      flex-direction: row;
      background-color: #c6b9a7;
      font-size: 10px;
       }
       .gogo{
        padding: 100px;
        width: 100%;
        height: 10vh;
        margin: 0;
       }
       .gogo3{
        padding: 200px;
        width: 100%;
        height: 10vh;
        margin: 0;
       }
       .gogo4{
        padding: 100px;
        width: 100%;
        height: 10vh;
        margin: 0;
       }
       .title{
        font-size: 2rem;
  margin-left: 100px;

      }
      .Zone{
        padding: 5rem;
    
      }
  }
