.home3 {
  background-image: url("../../src/assets/imags/proyectoshome.png");
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}
.projectodo{
text-align: center;
}
.menuTitle{
  text-align: center;
}

.portfolio__container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
text-align: center;
margin: 0.2rem;
}
.Proyectimag{
  width: 450px;
 height: 450px;
  object-fit: cover;
  align-items: center;
  position: relative;
}
.ProyectName{
 font-size: 2rem;
color: white;
position: relative;
bottom: 5px;
left: -50px;
width: auto;
white-space: nowrap;
display:inline-block;
}
.proyecthero{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.portfolio__item{
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    margin: 1rem;
}
.portfolio__item:hover{
opacity: 0.8;
}

.Proyect{
  align-content: center;
}

.proyecytext{
position: absolute;
top: 2px;
padding-top: 385px;
padding-right: 100px;
opacity: 0;
width: 100%;
}
.proyecytext:hover{
 opacity: 1;
 transition: 0.5s;
 background: rgba(0,0,0, 0.5);
}

/*================ Meedia Queries Medium ================== */
@media screen and (max-width:1024px) {
 .portfolio__container{
  grid-template-columns: repeat(2,1fr);
  background-color:blue;;
  margin: auto;
  align-content: center;
  gap: 5rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
 }
 .projecttodo{
  width: 100%;
 }
 .Proyectimag{
  width: 250px;
 height: 250px;
}

.portfolio__item{
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: aqua;
    margin:3rem;
    margin-top: 5rem;
    position: relative; 
}
.ProyectName{
  font-size: 1rem;
  text-align: center;
background-color: red;
opacity: 1;
width: auto;

}
.proyecytext{
background-color: blueviolet;
  }
}

/*================ Meedia Queries Small ================== */
@media screen and (max-width:600px) {
  .portfolio__container{
      grid-template-columns: 1fr;
      gap: 1rem;
  }
}