.navbarD {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 0.8rem;
}

.navroutes {
  width: 10ch;
  text-align: center;
  position: relative; /* Asegura que el ::after se posicione relativo a este contenedor */
}

.navbarD > .navroutes > a {
  color: white;
  text-decoration: none;
  display: inline-block; /* Permite que el enlace y la animación se alineen correctamente */
  position: relative;
}

.navroutes::after {
  content: "";
  display: block;
  height: 2px;
  background: white;
  transition: width 0.5s ease, left 0.5s ease;
  width: 0;
  position: absolute;
  bottom: -10px; /* Ajusta este valor para añadir espacio entre el texto y la línea */
  left: 50%;
}

.navroutes:hover::after {
  width: 100%;
  left: 0;
}
