.ItemDetail{
text-align: center;
margin-top: 200px;
}

.detailinfo h1{
font-size: 5rem;
text-decoration: underline  #96a077;; 
gap: 30px;
}
.detailinfo h2{
    font-size: 2rem;
 margin-top: 50px;
    }

.dimag{
    width: 500px;
    height: 500px;
    margin: 1rem;
    align-items: center;
}
