.footer__container {
  font-size: 0.6rem;
  width: 100%;
  min-height: 250px;
  padding: 0 1.2rem;
  background-image: url('./footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
  object-fit: cover;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.contactFooterContainer {
  display: flex;
  align-items: center;
}
.rect {
  display: none;
  background: white;
  width: 0.3rem;
  height: 11rem;
}
.footer svg {
  color: white;
  margin: 4px;
  font-size: 1.5em;
  cursor: pointer;
}

.logoFooterContainer{
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logofooter {
  width: 50%;
  min-width: 100px;
  height: auto;
  margin-right: 1rem;
}
.footer p {
  color: white;
  margin-top: 5px;
  font-size: 1.2em;
}
.info {
  display: flex;
  margin-left: 10px;
  color: aliceblue;
}

.footerinfo {
  color: aliceblue;
  margin-top: 5px;
  font-weight: bold;
}

@media only screen and (min-width: 460px) {

  .footer__container {
    flex-direction: row;
  }

  .rect {
    display: block;
  }

  .logofooter {
    width: 90%;
  }
}

@media only screen and (min-width: 720px) {

  .footer__container {
    font-size: 0.8rem;
  }
}