.modal {
    width: 80%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modalImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }