.navbarM{
    position: absolute;
    top: 95px;
    right: 0px;
    z-index: 1;
  background-color: #96a077;
  display: flex;
  flex-direction: column;
 align-items: center;
 padding: 2rem;
 gap:2rem ;
 animation-duration: 1s 300ms;
}
a{
    color: white;
    text-decoration: none;}
    
.navBtn{
    background-color: #96a077;
    font-size: 1rem;
    padding: 20px;
}
@media only screen and (min-width:900px) {
    .navroutesM>a{
    font-size: 1.7rem;
    }
}
