.navbarM{
    position: absolute;
    top: 108px;
    right: 0px;
    z-index: 1;
  background-color: #96a077;
  display: flex;
  flex-direction: column;
 align-items: center;
 padding: 2rem;
 gap:2rem ;
}
a{
    color: white;
    text-decoration: none;}
    
.navBtn{
    background-color: #96a077;
    font-size: 1rem;
    padding: 20px;
}
